* {
  scroll-behavior: smooth;
}

@import url("https://use.typekit.net/tei3yvm.css");

/*
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
} */
body{
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "bigcity-grotesque-pro", sans-serif;
  font-style: normal;
  background:#f5f4e1;
  color: #d50004;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #f5f4e1;
  border-bottom: 2px solid #d50004;
  position:fixed;
}

nav a {
  color: #d50004;
  padding: 1rem;
  display: inline-block;
}

h1 {
  font-size: 9vw;
  margin: 0px;

}

.title {
  letter-spacing: -.03em;
  line-height:8vw;
  margin-top: 36px;
  font-weight:800;
}


.content {padding-top:54px;}


.info-scroll {
  width:100%;
  overflow:scroll;
}

.info-block {
  background: #f5f4e1;
  border-bottom: 2px solid #d50004;
  width:33%;
  height:500px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.more {
  height:6px;
  width:6px;
  border: solid #f5f4e1;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: translateY(-100%) rotate(45deg);
  position:absolute;
    top:96vh;
    transform:translateY(-100%) rotate(45deg);
}


.screenful {
  height:100vh;
}

section {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin-top:100vh;
}

.snapAlignStart {
  scroll-snap-align: start;
}
